NODE_ENV=development  # production
HOST=127.0.0.1
PORT=3000
PREFIX_API=/api

DATABASE_URL="file:./prisma/prisma/dev.db"

JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=fb6b276709841036f06a92849964893796d58     # 刷新令牌密钥，建议通过 openssl rand -hex 32 生成
JWT_REFRESH_EXPIRES_IN=14d  # 刷新令牌过期时间
